<br />
<p class="text-white-50 mb-5">Please enter your login and password</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-outline form-white mb-4">
    <%= f.label :email, class:"form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-lg" %>
  </div>

  <div class="form-outlin form-white mb-4">
    <%= f.label :password, class:"form-label" %>
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control form-control-lg" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <p class="small mb-5 pb-lg-2">Forgot <a href="#" class="blue-text">Password?</a></p>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-outline-light btn-lg px-5" %>
  </div>
<% end %>
<br />

